<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Email Verification</title>
</head>
  <body>
    <p>
      Hello,
    </p>
    <p>
      You’re almost there. We’re ready when you are! You’re pretty much up and
      running.
    </p>
    <p>
      Before we get started, we’ll need to verify your email. Please click the
      below link through your mobile phone to confirm your email.
    </p>
    <p>
      <a href="{{ email_confirm_url }}">
        <strong style="text-decoration: underline;">
          Verify email
        </strong>
      </a>.
    </p>
    <p>
      Kind regards
    </p>
  </body>
</html>
